  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 div-background"></div>

        <!-- <div class="col-sm-4 div-formulario"> -->
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 div-formulario">
          <form>
            <img class="logo" src="/images/logo-branco.png" alt="" />

            <h1 class="titulo">Entrar</h1>

            <div class="form-group">
              <label for="email" class="label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="senha" class="label">Password</label>
              <input type="password" class="form-control" id="senha" />
            </div>

            <button type="button" class="btn btn-info btn-cadastrar">
              Cadastrar
            </button>
          </form>
        </div>
      </div>
    </div>
