<body class="body-home">
    <header class="header">
      <div class="header-user">
        <div class="header-user-img">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="header-user-name">
          <h2>usuario</h2>
        </div>
        <div class="header-sair">
          <i class="fa-solid fa-power-off"></i>
        </div>
      </div>
    </header>