    <main class="main">
      <ul class="main-ul">
        <li class="main-ul-item">

          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/no-image2.png" class="card-img-top" alt="foto" />
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>

        </li>
      </ul>
    </main>