<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Un site para denuncia" />
    <meta name="keywords" content="Mosquito da dengue, foco da dengue" />
    <meta name="author" content="Adriano Rogerio" />

    <script
      src="https://kit.fontawesome.com/e16f22338f.js"
      crossorigin="anonymous"
    ></script>

    <link rel="shortcut icon" href="/images/saude.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Denuncia Selecionada</title>
  </head>
  <body class="body-home">
    <header class="header">
      <div class="header-user">
        <div class="header-user-img">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="header-user-name">
          <h2>usuario</h2>
        </div>
        <div class="header-sair">
          <i class="fa-solid fa-power-off"></i>
        </div>
      </div>
    </header>

    <main class="main-denuncia">
      <section class="sessao-denuncia denuncia-selecionada">
        <div class="imagem">
          <div class="icone-camera">
            <i class="fa-solid fa-image"></i>
          </div>

          <div class="imagem-importada">
            <img src="" alt="imagem" />
          </div>
        </div>

        <div class="form-group em-linha">
          <label for="endereco">endereco</label>
          <textarea name="endereco" id="endereco" disabled rows="2">Rua vai quem quer</textarea>
        </div>

        <div class="form-group em-linha">
          <label for="cidade">cidade</label>
          <input type="text" name="cidade" id="cidade" disabled value="Jaragua"/>
        </div>

        <div class="form-group em-linha">
          <label for="status">Status</label>
          <input type="text" name="status" id="status" disabled value="Pendente"/>
        </div>

        <a class="btn-voltar" href="">
          <i class="fa-solid fa-chevron-left"></i>
          <span class="texto">Voltar</span>
        </a>
      </section>
    </main>

    <footer class="footer">
      <address>Uma iniciativa do ministerio da saude 2020</address>
    </footer>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
